<div class="page">
    <mat-card>
        <mat-card-content>
            <div class="boats">
                <div class="boat" *ngFor="let boat of boats">
                    <h1 class="title">{{boat.name}}</h1>
                    <p>Boat name: {{boat.name}}</p>
                    <p>Address: {{boat.address}}</p>
                    <p>Description: {{boat.description}}</p>
                    <p>Average grade: {{boat.average}}</p>
                        <div class="form-group">
                            <label for="file">Choose File</label>
                            <input type="file"
                                   id="file"
                                   (change)="handleFileInput($event, boat.id)">
                        </div>
                        <div *ngIf="user.userType=='BOAT_OWNER'">
                            <li><a routerLink="/action-boat" [queryParams]="{id: boat.id}" routerLinkActive="active">Create action</a></li>
                            <li><a routerLink="/edit-boat" [queryParams]="{id: boat.id}" routerLinkActive="active">Edit Boat</a></li>  
                            <li><a routerLink="/boat-avaliability-period" [queryParams]="{id: boat.id}" routerLinkActive="active">Create availability period</a></li>
                        </div>
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <button mat-raised-button color="primary">Delete</button>
                        </form>
                        <div *ngIf="user.userType=='CLIENT'">
                            <li><a routerLink="/complain-page" [queryParams]="{id: boat.id}" type="ComplainType = BOAT_COMPLAIN" routerLinkActive="active">File a complaint</a></li>
                            <div class="form-group">
                                <label for="file">Choose File</label>
                                <input type="file"
                                       id="file"
                                       (change)="handleFileInput($event, boat.id)">
                            </div>
                        </div>
                </div>
                    <img *ngFor="let image of images"  [src]="image">
            </div>
        </mat-card-content>
    </mat-card>
</div>

