<div class="page">
    <mat-card>
        <mat-card-content>
            <div class="houses">
                <div class="house" *ngFor="let house of houses">
                    <h1 class="title">{{house.name}}</h1>
                    <p>House name: {{house.name}}</p>
                    <p>Address: {{house.address}}</p>
                    <p>Description: {{house.description}}</p>
                    <p>Rules of conduct: {{house.rulesOfConduct}}
                    <p>Average grade: {{house.average}}</p>
                    <p>Price for one night: 50e</p>
                    <div>
                        <img *ngFor="let image of images"  [src]="image">
                    </div>
                    <div *ngIf="user.userType=='HOUSE_OWNER'">
                        <li><a routerLink="/create-appointment" [queryParams]="{id: house.id}" routerLinkActive="active">Create an appointment</a></li>
                        <li><a routerLink="/edit-house" [queryParams]="{id: house.id}" routerLinkActive="active">Edit house</a></li>  
                        <li><a routerLink="/house-booking-history" routerLinkActive="active">Booking history</a></li>      
                        <li><a routerLink="/house-avaliability-period" [queryParams]="{id: house.id}" routerLinkActive="active">Create availability period</a></li>
                        <li><a routerLink="/create-room" [queryParams]="{id: house.id}" routerLinkActive="active">Create room</a></li>
                        <div class="form-group">
                            <label for="file">Choose File</label>
                            <input type="file"
                                   id="file"
                                   (change)="handleFileInput($event, house.id)">
                        </div>
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <button mat-raised-button color="primary">Delete</button>
                        </form>
                    </div>

                    <div class="houseAvaliabilityPeriod" *ngFor="let houseAvaliabilityPeriod of houseAvaliabilityPeriods">
                        <h1 class="title">{{houseAvaliabilityPeriod.dateTo}}</h1>
                        <h1 class="title">{{houseAvaliabilityPeriod.dateFrom}}</h1>
                    </div>

                </div>
                
            </div>
        </mat-card-content>
    </mat-card>
</div>

