<div class="page">
    <mat-card>
        <mat-card-content>
            <div class="houses">
                <div class="house" *ngFor="let house of houses">
                    <h1 class="title">{{house.name}}</h1>
                    <p>House name: {{house.name}}</p>
                    <p>Address: {{house.address}}</p>
                    <p>Description: {{house.description}}</p>
                    <p>Rules of conduct: {{house.rulesOfConduct}}
                    <p>Average grade: {{house.average}}</p>
                    <p>Price for one night: 50e</p>
                    <div>
                        <img *ngFor="let image of images"  [src]="image">
                    </div>
                    <div *ngIf="user.userType=='HOUSE_OWNER'">
                        <li><a routerLink="/create-appointment" [queryParams]="{id: house.id}" routerLinkActive="active">Create an appointment</a></li>
                        <li><a routerLink="/action-house" [queryParams]="{id: house.id}" routerLinkActive="active">Create action</a></li>
                        <li><a routerLink="/edit-house" [queryParams]="{id: house.id}" routerLinkActive="active">Edit house</a></li>  
                        <li><a routerLink="/house-booking-history" routerLinkActive="active">Booking history</a></li>      
                        <li><a routerLink="/house-avaliability-period" [queryParams]="{id: house.id}" routerLinkActive="active">Create availability period</a></li>
                        <li><a routerLink="/create-room" [queryParams]="{id: house.id}" routerLinkActive="active">Create room</a></li>
                        <div class="form-group">
                            <label for="file">Choose File</label>
                            <input type="file"
                                   id="file"
                                   (change)="handleFileInput($event, house.id)">
                        </div>
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <button mat-raised-button color="primary">Delete</button>
                        </form>
                    </div>


                    <div *ngIf="user.userType=='CLIENT'">
                        <li><a routerLink="/complain-page" [queryParams]="{id: house.id, type: 1}" routerLinkActive="active">File a complaint</a></li>
                        <div class="form-group">
                            <label for="file">Choose File</label>
                            <input type="file"
                                   id="file"
                                   (change)="handleFileInput($event, house.id)">
                        </div>
                </div>  
                </div>  
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <div class="row text-center">
            <div class="col-md-4">
              <div class="btn-group">
                <div
                  class="btn btn-primary"
                  mwlCalendarPreviousView
                  [view]="view"
                  [(viewDate)]="viewDate"
                  (viewDateChange)="closeOpenMonthViewDay()"
                >
                  Previous
                </div>
                <div
                  class="btn btn-outline-secondary"
                  mwlCalendarToday
                  [(viewDate)]="viewDate"
                >
                  Today
                </div>
                <div
                  class="btn btn-primary"
                  mwlCalendarNextView
                  [view]="view"
                  [(viewDate)]="viewDate"
                  (viewDateChange)="closeOpenMonthViewDay()"
                >
                  Next
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
            </div>
            <div class="col-md-4">
              <div class="btn-group">
                <div
                  class="btn btn-primary"
                  (click)="setView(CalendarView.Month)"
                  [class.active]="view === CalendarView.Month"
                >
                  Month
                </div>
                <div
                  class="btn btn-primary"
                  (click)="setView(CalendarView.Week)"
                  [class.active]="view === CalendarView.Week"
                >
                  Week
                </div>
                <div
                  class="btn btn-primary"
                  (click)="setView(CalendarView.Day)"
                  [class.active]="view === CalendarView.Day"
                >
                  Day
                </div>
              </div>
            </div>
          </div>
          <br />
          <div [ngSwitch]="view">
            <mwl-calendar-month-view
              *ngSwitchCase="CalendarView.Month"
              [viewDate]="viewDate"
              [events]="events"
              [refresh]="refresh"
              [activeDayIsOpen]="activeDayIsOpen"
              (dayClicked)="dayClicked($event.day)"
              (eventTimesChanged)="eventTimesChanged($event)"
            >
            </mwl-calendar-month-view>
            <mwl-calendar-week-view
              *ngSwitchCase="CalendarView.Week"
              [viewDate]="viewDate"
              [events]="events"
              [refresh]="refresh"
              (eventTimesChanged)="eventTimesChanged($event)"
            >
            </mwl-calendar-week-view>
            <mwl-calendar-day-view
              *ngSwitchCase="CalendarView.Day"
              [viewDate]="viewDate"
              [events]="events"
              [refresh]="refresh"
              (eventTimesChanged)="eventTimesChanged($event)"
            >
            </mwl-calendar-day-view>
          </div>
    </mat-card>
</div>