<div class="page">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <h3>House owner profile</h3>
                <li><a routerLink="/edit-profile" routerLinkActive="active">Edit profile</a></li>
                <li><a routerLink="/change-password" routerLinkActive="active">Change password</a></li>
                <li><a routerLink="/create-house" routerLinkActive="active">Create house</a></li>
                <li><a routerLink="/houseView" routerLinkActive="active">See house</a></li>
                <li><a routerLink="request-delete-account" routerLinkActive="active">Request delete account</a></li>
            </form>
        </mat-card-content>
    </mat-card>
</div>