<div class="page">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <input type="text" placeholder="Search..." formControlName="search">
                <button mat-raised-button color="primary">Search</button>
            </form>
                <div class="house" *ngFor="let house of houses">
                    <h1 class="title">{{house.name}}</h1>
                    <li><a routerLink="/house-profile" [queryParams]="{id: house.id}" routerLinkActive="active">See house</a></li>        
            </div>
        </mat-card-content>
    </mat-card>
</div>