<div class="page">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <input type="text" placeholder="Search...">
            </form>
            <div class="houses">
                <div class="house" *ngFor="let house of houses">
                    <h1 class="title">{{house.name}}</h1>
                    <p>House name: {{house.name}}</p>
                    <p>Address: {{house.address}}</p>
                    <p>Description: {{house.description}}</p>
                    <p>Average grade: {{house.average}}</p>
                    <div class="form-group">
                        <label for="file">Choose File</label>
                        <input type="file"
                               id="file"
                               (change)="handleFileInput($event)">
                    </div>
                </div>
                
            </div>
           
        </mat-card-content>
    </mat-card>
</div>