<div class="page">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <input type="text" placeholder="Search...">
            </form>
            <div class="adventures">
                <div class="adventure" *ngFor="let adventure of adventures">
                    <h1 class="title">{{adventure.name}}</h1>
                    <p>Adventure name: {{adventure.name}}</p>
                    <p>Address: {{adventure.address}}</p>
                    <p>Description: {{adventure.description}}</p>
                </div>  
            </div>  
        </mat-card-content>
    </mat-card>
</div>
