<div class="page">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <h1 class="title">See house info</h1>
                <p>Adventure name:</p>
                <h2>Pecanje sabljarki</h2>
                <p>Address:</p>
                <h3>Danila Kisa 9</h3>
                <p>Description</p>
                <h4>Opis avanture</h4>
                <p>Average grade</p>
                <h5>5.00</h5>
                <p>Fishing instructor name</p>
                <h6>Pera Peric</h6>
                <p>...</p>
            </form>
        </mat-card-content>
    </mat-card>
</div>
