<div class="page">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <li><a routerLink="/registration" routerLinkActive="active">Registration</a></li>
                <li><a routerLink="/houseView" routerLinkActive="active">See houses</a></li>
                <li><a routerLink="/boatView" routerLinkActive="active">See boats</a></li>
                <li><a routerLink="/instructorView" routerLinkActive="active">See insturctors</a></li>
                <h3>Search</h3>
                <input matInput placeholder="Search" formControlName="search" required>
            </form>
        </mat-card-content>
    </mat-card>
</div>