<div class="page">
    <mat-card>
        <mat-card-content>
            <div class="users">
                <div class="user">
                    <h1 class="title">CLIENT</h1>
                    <p>First name: {{user.firstName}}</p>
                    <p>Last name: {{user.lastName}}</p>
                    <p>Email: {{user.email}}</p>
                    <p>Address: {{user.address}}</p>
                    <p>City: {{user.city}}</p>
                    <p>Phone number: {{user.phoneNumber}}</p>
                </div>  
            </div>
        </mat-card-content>
    </mat-card>