<div class="page">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <input type="text" placeholder="Search..." formControlName="search">
                <button mat-raised-button color="primary">Search</button>
            </form>
            <div class="boats">
                <div class="boat" *ngFor="let boat of boats">
                    <h1 class="title">{{boat.name}}</h1>
                    <p>Boat name: {{boat.name}}</p>
                    <p>Address: {{boat.address}}</p>
                    <p>Description: {{boat.description}}</p>
                    <p>Average grade: {{boat.description}}</p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>