<div class="page">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <input type="text" placeholder="Search..." formControlName="search">
                <button mat-raised-button color="primary">Search</button>
            </form>
                <div class="boat" *ngFor="let boat of boats">
                    <h1 class="title">{{boat.name}}</h1>
                    <li><a routerLink="/boat-profile" [queryParams]="{id: boat.id}" routerLinkActive="active">See boat</a></li>        
            </div>
        </mat-card-content>
    </mat-card>
</div>